﻿
@{
    ViewBag.Title = "AddDealer";
    EscapeDollarMgr.Models.DealerItem dealer = ViewBag.dealerItem as EscapeDollarMgr.Models.DealerItem;
    List<EscapeDollarMgr.Models.DealerOpeningTimes> openingTimes = dealer.OpeningTimes.ToList();
}

<style>
    .input-group-addon {
        min-width: 130px;
        text-align: left;
    }
</style>



<h4>Add Dealer</h4>

<div class="container">
    <form method='POST' , action="UpdDealer">
        <input type="hidden" name="actionType" value="add" />
        <input type="hidden" name="shop" value="@ViewBag.shop" />
        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Dealer</span>
                    <input type="text" class="form-control" name="dealer" value="@dealer.Dealer" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Contact</span>
                    <input type="text" class="form-control" name="contact" value="@dealer.Contact">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input type="text" class="form-control" name="phone" value="@dealer.Phone">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Address Line 1</span>
                    <input type="text" class="form-control" name="address1" value="@dealer.Address1" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Address Line 2</span>
                    <input type="text" class="form-control" name="address2" value="@dealer.Address2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">City</span>
                    <input type="text" class="form-control" name="city" value="@dealer.City" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">State</span>
                    <input type="text" class="form-control" name="state" value="@dealer.State" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Country</span>
                    <input type="text" class="form-control" name="country" value="@dealer.Country" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Post Code</span>
                    <input type="text" class="form-control" name="postcode" value="@dealer.PostCode" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Dealer Type</span>
                    <input type="text" class="form-control" name="dealertype" value="@dealer.DealerType" required="required" pattern="[ABC]{1}" title="A, B or C">
                </div>
            </div>
        </div>

        <br /
        >

        <table class="table-bordered table-hover">
            <thead>
                <tr class="bg-info">
                    <th style="min-width: 100px;">Day</th>
                    <th style="min-width: 100px;">From</th>
                    <th style="min-width: 100px;">Until</th>
                    <th>Closed</th>
                </tr>
            </thead>


            <tr>
                <td>Monday</td>
                <td><div id="op0"></div></td>
                <td><div id="cl0"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled0" type="checkbox" value="@openingTimes[0].NotOpen"></td>
            </tr>

            <tr>
                <td>Tuesday</td>
                <td><div id="op1"></div></td>
                <td><div id="cl1"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled1" type="checkbox" value="@openingTimes[1].NotOpen"></td>
            </tr>

            <tr>
                <td>Wednesday</td>
                <td><div id="op2"></div></td>
                <td><div id="cl2"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="Disabled2" type="checkbox" value="@openingTimes[2].NotOpen"></td>
            </tr>

            <tr>
                <td>Thursday</td>
                <td><div id="op3"></div></td>
                <td><div id="cl3"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="Disabled3" type="checkbox" value="@openingTimes[3].NotOpen"></td>
            </tr>

            <tr>
                <td>Friday</td>
                <td><div id="op4"></div></td>
                <td><div id="cl4"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="Disabled4" type="checkbox" value="@openingTimes[4].NotOpen"></td>
            </tr>

            <tr>
                <td>Saturday</td>
                <td><div id="op5"></div></td>
                <td><div id="cl5"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="Disabled5" type="checkbox" value="@openingTimes[5].NotOpen"></td>
            </tr>

            <tr>
                <td>Sunday</td>
                <td><div id="op6"></div></td>
                <td><div id="cl6"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="Disabled6" type="checkbox" value="@openingTimes[6].NotOpen"></td>
            </tr>

        </table>

        <br />

        <div class="row">
            <div class="col-xs-8">
                <table class="table-bordered table-hover">
                    <thead>
                        <tr class="bg-info">
                            <th style="min-width: 100px;">Normal</th>
                            <th style="min-width: 100px;">Triathlon</th>
                            <th style="min-width: 100px;">HiRoad</th>
                            <th style="min-width: 100px;">HiMTB</th>
                        </tr>
                    </thead>

                    <tr>
                        <td style="text-align:center;"><input id="checkBox" name="normal" type="checkbox" checked="@dealer.Normal"></td>
                        <td style="text-align:center;"><input id="checkBox" name="triathlon" type="checkbox" checked="@dealer.Triathlon"></td>
                        <td style="text-align:center;"><input id="checkBox" name="hiroad" type="checkbox" checked="@dealer.HiRoad"></td>
                        <td style="text-align:center;"><input id="checkBox" name="himtb" type="checkbox" checked="@dealer.HiMTB"></td>
                    </tr>


                </table>



            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-2 text-left">
                <input type="submit" value="Add" class="btn btn-info" />
            </div>

            <span class="input-group-btn">
                <input type="submit" value="Return" class="btn btn-info" onclick="location.href = '../Home/ManageDealers?shop=@ViewBag.shop'" />
            </span>

        </div>

    </form>
</div>

<script>

    var tArray = [];
    for (i = 0; i < 12; i++) {     
        if (i <= 9) {
            tArray.push("0" + i.toString() + ":00 AM", "0" + i.toString() + ":30 AM");
        } else {
            tArray.push(i.toString() + ":00 AM", i.toString() + ":30 AM");
        }
    }
    tArray.push("12:00 PM", "12:30 PM");
    for (i = 1; i < 12; i++) {
        if (i <= 9) {
            tArray.push("0" + i.toString() + ":00 PM", "0" + i.toString() + ":30 PM");
        } else {
            tArray.push(i.toString() + ":00 PM", i.toString() + ":30 PM");
        }
    }

   

    function createTimeSelect(name, idN) {

        var tName = name + idN.toString();

        var theDiv = document.getElementById(tName);

        var openName = (name.indexOf("op") >= 0);

    //    alert(JSON.stringify(theDiv));
        var selectList = document.createElement("select");
  //      selectList.setAttribute("id", name);
  //      selectList.setAttribute("name", name);

        theDiv.appendChild(selectList);

        if (name === "op") {
            selectList.setAttribute("name", "open" + idN.toString());
        } else {
            selectList.setAttribute("name", "close" + idN.toString());
        }
        
        //Create and append the options
        for (var i = 0; i < tArray.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", tArray[i]);
            if (openName & i === 17) option.selected = true;
            if (!openName & i == 38) option.selected = true;
            option.text = tArray[i];
            selectList.appendChild(option);
        }

    }


    for (i = 0; i < 7; i++) {
        createTimeSelect("op", i);
        createTimeSelect("cl", i);
    }

</script>