﻿@{
    Layout = null;
}


@if (ViewBag.cardValue == 0)
{
    <p> No ESC$ cards </p>
}
else
{
    <script src="https://cdn.shopify.com/s/assets/external/pos_app.js"></script>
    <script>

       // alert("in checkcards view");
        var pList = "@ViewBag.pList";
        var cv = "@ViewBag.cardValue";
        var escAppl = "@ViewBag.escAppl";

        //  ShopifyPOS.ready(function () { });
       // alert("in checkcards view - shopifypos ready" + escAppl);

        ShopifyPOS.fetchCart({
            success: function (cart) {

           //     alert("in checkcards view - fetched cart");

            //    alert(JSON.stringify(cart.line_items));

                var gcAppl = 0;
                for (var i = 0; i < cart.line_items.length; i++) {
                    var lineItem = cart.line_items[i];
                    if (lineItem.title == "Giftcard Discount") {
                        cart.removeLineItem(i, {
                            success: function (cart) {
                            },
                            error: function (errors) {
                                ShopifyPOS.flashError("Failed to delete line item")
                            }
                        })
                    } else if (!('product_id' in lineItem)) {
                        alert("Quick sale item identified. Note that no ESC$s for quick sale items")
                    } else if (escAppl.indexOf(lineItem.product_id.toString()) >= 0) {

                    //    alert(JSON.stringify(lineItem));
                        var amt = parseFloat(lineItem.price) * parseFloat(lineItem.quantity);
                        gcAppl = gcAppl + Math.round(amt);
                    }

                }
         //       alert("After 4 loop" + gcAppl.toString());

                var cardValue = parseInt(cv);
                var gcDiscount = cardValue;
                if (cardValue > gcAppl) {
                    gcDiscount = gcAppl;
                }

                document.getElementById("GC_Appl").innerHTML = gcAppl.toFixed(2);
                document.getElementById("GC_Discount").innerHTML = gcDiscount.toFixed(2);

                cart.setDiscount({
                    amount: gcDiscount.toFixed(2),
                    discount_description: "ESC$ Discount",
                    type: "flat"
                }, {
                        success: function (cart) {
                        },
                        error: function (errors) {
                            ShopifyPOS.flashError("Failed to apply ESC$ discount")
                        }
                    });

            },
            error: function (errors) {
                ShopifyPOS.flashError("Oops! Something went wrong fetching cart.");
            }
            });

    </script>




    <table border="2">
        <tr class="headerrow">
            <th>Title</th>
            <th>Value</th>
            <th>Date Created</th>
            <th>Last Used</th>
        </tr>

        @foreach (EscapeDollarMgr.Models.EscCardObj card in ViewBag.EscCards)
        {


            <tr>
                <td>@card.title</td>
                <td>@((@Int64.Parse(card.value) / 100).ToString("0.00"))</td>
                <td>@card.created_at</td>
                @if(card.usage != null)
                {
                    <td> @card.usage.Last().udate 
                         : @((float.Parse(card.usage.Last().amount) / 100).ToString("F2"))
                     </td>
                }
                else
                {
                    <td> Unused </td>
                }
            </tr>
        }
    </table>
    <p> <span class="capitalize">@ViewBag.firstName</span> has cards worth a value of RM@((ViewBag.cardValue).ToString("0.00")).  </p>
    <p> The Order total is RM@(ViewBag.orderTotal). (This includes taxes and any current discount.)</p>
    <p> RM<span id="GC_Appl"> </span> of this order is applicable for ESC$ card discount. </p>
    <p> The new discount will be <strong>RM<span id="GC_Discount"> </span></strong>.</p>

    if(ViewBag.otherLoyDol == "Yes")
    {
        <p>
            Please inform the customer that Loyalty dollars may be available in other vendors to assist with this purchase.

        </p>

    }

}




