﻿
@{
    ViewBag.Title = "DealerRules";
    EscapeDollarMgr.Models.MinOrderValueObj minOrderValue = ViewBag.MinOrderValue as EscapeDollarMgr.Models.MinOrderValueObj;
    List<EscapeDollarMgr.Models.MoqRuleObj> moqRules = ViewBag.MoqRules as List<EscapeDollarMgr.Models.MoqRuleObj>;
    var cnt = 1;
}

<h4>Dealer Rules</h4>

<div class="container">
<h4> Dealer Minimum Order Amount</h4>

    <form method='POST' , action="UpdMinDealerDollar">

        <div class="row">

                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">A</span>
                        <input type="text" class="form-control" name="minOrderValueA" value="@minOrderValue.A">
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">B</span>
                        <input type="text" class="form-control" name="minOrderValueB" value="@minOrderValue.B">
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">C</span>
                        <input type="text" class="form-control" name="minOrderValueC" value="@minOrderValue.C">
                    </div>
                </div>

            <div class="col-xs-2">
                <span class="input-group-btn">
                    <input type="submit" value="Update" class="btn btn-info" />
                </span>
            </div>

        </div>

    </form>

    <hr />

    <h4>Dealer MOQ per Category Rules</h4>

    <div class="row">

    <form method='GET' , action="DealerRules">

        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-addon">Product Type</span>
                <input type="text" class="form-control" name="pType" value="@ViewBag.pType">
            </div>
        </div>
        <div class="col-xs-4">
            <span class="input-group-btn">
                <input type="submit" value="Find" class="btn btn-info" />
            </span>
        </div>

    </form>

    </div>

    <br/>

    <div class="row">

        <div class="col-xs-10">
            <table class="table-bordered table-hover">
                <thead>
                    <tr class="bg-info">
                        <th>Link</th>
                        <th>Product Types</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                    </tr>
                </thead>

                @if (moqRules == null || !moqRules.Any())
                {
                    <tr>
                        <td></td>
                        <td>No rules found</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {

                    foreach (EscapeDollarMgr.Models.MoqRuleObj moqRule in moqRules)
                    {
                        <tr>
                            <td style="width:3em;text-align:center;"> <a href="../Home/ViewMoqRule?Id=@moqRule.Id">@cnt</a></td>
                            <td style="width:30em;">@moqRule.ProductTypes</td>
                            <td style="width:3em;text-align:center;">@moqRule.A</td>
                            <td style="width:3em;text-align:center;">@moqRule.B</td>
                            <td style="width:3em;text-align:center;">@moqRule.C</td>
                        </tr>

                        cnt = cnt + 1;

                    }
                }
            </table>
            </div>

        </div>

    <br />

    <p>Add MOQ Rule</p>

    <div class="row">
        <form method='POST' , action="AddMoqRule">
            <div class="col-xs-10">
                <table class="table-bordered table-hover">
                    <thead>
                        <tr class="bg-info">
                            <th>Product Types</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                        </tr>
                    </thead>

                    <tr>
                        <td style="width:33em"><input class="form-control" type="text" name="prodTypes" style="min-width:33em;"></td>
                        <td style="width:3em"><input class="form-control" type="text"  name="dealerAMinMoq" value="0"></td>
                        <td style="width:3em"><input class="form-control" type="text"  name="dealerBMinMoq" value="0"></td>
                        <td style="width:3em"><input class="form-control" type="text"  name="dealerCMinMoq" value="0"></td>
                    </tr>
                </table>

            </div>

            <div class="col-xs-2">
                <span class="input-group-btn">
                    <input type="submit" value="Add" class="btn btn-info" />
                </span>
            </div>

        </form>
        </div>

    <hr />

    <div class="row">
        <div class="col-xs-4 text-left"><a href="../Home/Index" class="btn-primary">RETURN</a></div>
    </div>

    </div>





