﻿@{
    Layout = null; // this page needs to be light
}

<!DOCTYPE html>
<html>
<head>
    <style>
        footer {
            position: absolute;
            bottom: 30px;
            width: 100%;
        }

        p.capitalize {
            text-transform: capitalize;
        }

        tr.headerrow {
            background-color: gainsboro;
        }

        span.capitalize {
            text-transform: capitalize;
        }

        a.MyButton {
            display: inline-block;
            width: 90%;
            padding: 15px;
            cursor: pointer;
            font-weight: bold;
            font-size: 150%;
            background: #3366cc;
            color: #fff;
            border: 1px solid #3366cc;
            border-radius: 10px;
            text-align: center;
            text-decoration: none;
        }

            a.MyButton:hover {
                color: #ffff00;
                background: #000;
                border: 1px solid #fff;
            }
    </style>

    <script src="https://cdn.shopify.com/s/assets/external/pos_app.js"></script>
    <script>
     //  alert("here");
        var shop = '@ViewBag.shop';
        var token = '@ViewBag.shopToken';
        ShopifyPOS.init({
            apiKey: token,
            shopOrigin: "https://" + shop,
            debug: true,
            forceRedirect: true
        });
  //      alert("here3");
    </script>
</head>

<body>

    <script type="text/javascript">

    //   alert("here");

    //   ShopifyPOS.ready(function () {
    //   });


        ShopifyPOS.fetchCart({
              success: function(cart) {
      //            alert(JSON.stringify(cart));

                  var names = "";
                   for (var name in cart.customer) {
                    names = names + name + " ";
                   }

            if (names == "") {

                document.getElementById("validcust1").innerHTML = "Please select a customer and try again";

            } else if (names.indexOf("id ") < 0) {

                document.getElementById("current_customer_first_name").innerHTML = ShopifyPOS.Cart.current.customer.first_name;
                document.getElementById("current_customer_email").innerHTML = ShopifyPOS.Cart.current.customer.email;
                document.getElementById("current_customer_last_name").innerHTML = ShopifyPOS.Cart.current.customer.last_name;

                document.getElementById("validcust1").innerHTML = "The customer is not registered in the Shop database";
                document.getElementById("validcust2").innerHTML = "The customer must have at least one fulfilled order to be registered";


            } else {

                document.getElementById("current_customer_first_name").innerHTML = cart.customer.first_name;
                document.getElementById("current_customer_email").innerHTML = cart.customer.email;
                document.getElementById("current_customer_last_name").innerHTML = cart.customer.last_name;

                var pIds = "";
                var li = cart.line_items;

                for (var i = 0; i < li.length; i++) {
                    if ('product_id' in li[i])
                    pIds = pIds + li[i].product_id.toString() + ",";
                };

                var url = "@Url.Action("CheckCards","Home")";
                var inData = { id: cart.customer.id, orderTotal: cart.grand_total, shop: '@ViewBag.shop', token: '@ViewBag.shopToken', pIds: pIds  };
           //     alert("before get " + JSON.stringify(inData));
                $.ajaxSetup({ async: false });
                jQuery.get(url, inData, function (data, status) {
                    $("body").append(data);
                });
          //      alert("after get");
            }

             },
             error: function(errors) {
               ShopifyPOS.flashError("Failed to retrieve cart");
            }
            });


    </script>

    <p>Customer: <span class="capitalize" id="current_customer_first_name"> </span> <span class="capitalize" id="current_customer_last_name"> </span> &nbsp Email: <span id="current_customer_email"> </span></p>
    <p id="validcust1"></p>
    <p id="validcust2"></p>


    <footer>
        <a href="javascript:void(0)" class="MyButton" onclick="ShopifyPOS.Modal.close()">Close Window</a>
    </footer>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>

