﻿<!DOCTYPE html>
<html>
<head>

    <script>
        var shop = '@ViewBag.shop';
        var token = '@ViewBag.shoptoken';

        var message = JSON.stringify({
            message: "Shopify.API.remoteRedirect",
            data: { location: window.location.origin + "/admin/oauth?shop=2escapebike"}
        });

        alert("Message is " + message);
        window.parent.postMessage(message, "https://" + shop);
        alert("posted message")

    </script>

    <script src="https://cdn.shopify.com/s/assets/external/pos_app.js"></script>
    <script type="text/javascript">
    alert("here");

    alert("here2 " + shop + " " + token);
        ShopifyPOS.init({
            apiKey: token,
            shopOrigin: "https://" + shop,
            forceRedirect: 'true'
        });
        alert("here3");
    </script>
</head>

<body>

    <script type="text/javascript">
        alert("here4");
    </script>

    Hello

</body>
</html>

