﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    @if (!ViewBag.posEmbedded)
    {
        <div class="row">
            <div class="col-xs-4">
                <a href="../Home/DealerRules?shop=@ViewBag.shop" class="btn-primary">Manage MOQ Rules</a>
            </div>

            <div class="col-xs-4">
                <a href="../Home/ManageDealers?shop=@ViewBag.shop" class="btn-primary">Manage Dealers</a>
            </div>
        </div>
    }

        @if (!String.IsNullOrEmpty(ViewBag.Message))
        {
            <br />
            <div class="row">
                <strong>Error Message: </strong> @ViewBag.Message
            </div>

        }

        <br /><br />

        <form method="GET">

            <input type="hidden" name="shop" value="@ViewBag.shop" />

            <div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">First Name</span>
                        <input type="text" class="form-control" name="FName" value="@ViewBag.FName">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">Last Name</span>
                        <input type="text" class="form-control" name="LName" value="@ViewBag.LName">
                    </div>
                </div>
                <div class="col-xs-4">
                    <span class="input-group-btn">
                        <input type="submit" value="Find" class="btn btn-info" />
                    </span>
                </div>

            </div>
    </div>
</form>

<br>



<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
    @model IEnumerable<ShopifySharp.Customer>
    @foreach (var cust in @Model)
    {
        <tr> 
            <td><a href="../Home/ShowCust?custId=@cust.Id&shop=@ViewBag.shop" class="elements" >@cust.FirstName @cust.LastName</a></td> 
            <td><a href="../Home/ShowCust?custId=@cust.Id&shop=@ViewBag.shop" class="elements">@cust.Email </a></td>
            <td>Phone </td>
            <td>@cust.State </td>
        </tr>
    }


  </tbody>
</table>



