﻿
@{
    ViewBag.Title = "ManageDealers";
    List<EscapeDollarMgr.Models.DealerItem> dealerList = ViewBag.dealerList as List<EscapeDollarMgr.Models.DealerItem>;
}

<style>
.minWidth {
    min-width:150px;
}

</style>

<h4>ManageDealers</h4>

<div class="container">

    <div class="row">

        <form method='GET' , action="ManageDealers">

            <div class="col-xs-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="dFilter" value="@ViewBag.dFilter">
                    <span class="input-group-btn">
                      <input type="submit" value="Filter" class="btn btn-info" />
                    </span>
                </div>
            </div>

        </form>

        <span class="input-group-btn">
            <input type="submit" value="Add Dealer" class="btn btn-info" onclick="location.href = '../Home/AddDealer?&shop=@ViewBag.shop'"/>
        </span>


    </div>

    @if(!String.IsNullOrEmpty(ViewBag.Message) )
    {
        <br />
        <div class="row">
            <strong>Error Message: </strong> @ViewBag.Message
        </div>

    }
   

    <br/>

    <div class="row">

        <div class="col-xs-10">
            <table class="table-bordered table-hover">
                <thead>
                    <tr class="bg-info">
                        <th class="minWidth">Name</th>
                        <th class="minWidth">Contact</th>
                        <th class="minWidth">Phone</th>
                        <th class="minWidth">State</th>
                        <th class="minWidth">Post Code</th> 
                        <th class="minWidth">Dealer Type</th> 
                        <th class="minWidth">Dealer Key</th>

                    </tr>
                </thead>

                @if (dealerList == null || !dealerList.Any())
                {
                    <tr>
                        <td></td>
                        <td>No dealers found</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                else
                {

                    foreach (EscapeDollarMgr.Models.DealerItem dealer in dealerList)
                    {
                        <tr>
                            <td><a href='../Home/ViewDealer?name=@dealer.Dealer.Replace("&","%26")&shop=@ViewBag.shop'>@dealer.Dealer</a></td>
                            <td>@dealer.Contact</td>
                            <td>@dealer.Phone</td>
                            <td>@dealer.State</td>
                            <td>@dealer.PostCode</td>
                            <td>@dealer.DealerType</td>
                            <td>@dealer.Key</td>
                        </tr>

                    }
                }
            </table>

        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-2 text-left"><a href="../Home?shop=@ViewBag.shop" class="btn-primary">RETURN</a></div>
    </div>

</div>
