﻿
@{
    ViewBag.Title = "ShowCard";
    ShopifySharp.Customer cust = ViewBag.customer as ShopifySharp.Customer;
    EscapeDollarMgr.Models.EscCardObj card = ViewBag.card as EscapeDollarMgr.Models.EscCardObj;
}

<h2>ShowCard</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 text-left"><strong>Customer:</strong> <span class="text-capitalize"> @cust.FirstName @cust.LastName </span></div>
        <div class="col-md-4 text-left"><strong>Email:</strong> @cust.Email </div>
        <div class="col-md-4 text-left"><strong>Account State:</strong> <span class="text-capitalize"> @cust.State </span></div>
    </div>

    <br>
    <table class="table table-hover" border="1">
        <thead>
            <tr class="bg-info">
                <th>Title</th>
                <th>Value</th>
                <th>Date Created</th>
                <th>Expiry Date</th>
                <th>Last Used</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@card.title</td>
                <td>@((float.Parse(card.value) / 100).ToString("F2"))</td>
                <td>@card.created_at</td>
                <td>@card.expiry_date</td>
                @if (card.usage == null)
                {
                    <td>Unused</td>
                }
                else
                {
                    <td>
                        Used: @card.usage.Last().udate
                        Value: @((float.Parse(card.usage.Last().amount) / 100).ToString("F2"))
                    </td>
                }
            </tr>
        </tbody>
    </table>

    <h3>Usage:</h3>
    @if (card.usage == null)
    {
        <span>Card has not been used.</span>
    }
    else
    {
        <table class="table table-hover" border="1">
            <thead>
                <tr class="bg-info">
                    <th>Date</th>
                    <th>Order</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usage in card.usage)
                {
                    <tr>
                        <td>@usage.udate</td>
                        <td>@usage.order_id</td>
                        <td>@((float.Parse(usage.amount) / 100).ToString("F2"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3>Audit:</h3>
    @if (card.audit_log == null)
    {
        <span>Card has no audit log.</span>
        <br />
    }
    else
    {

        <table class="table table-hover" border="1">
            <thead>
                <tr class="bg-info">
                    <th>Date</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var audit in card.audit_log)
                {
                    <tr>
                        <td>@audit.adate</td>
                        <td>@audit.anote</td>
                    </tr>
                }
            </tbody>

        </table>
    }

    <h3>Update:</h3>
    @if (!ViewBag.posEmbedded)
    {
        <form action="../Home/UpdateCard" , method="post">
            <div class="row">
                <div class="col-md-2 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Value:</span>
                        <input type="text" class="form-control" name="Value" value="@((float.Parse(card.value) / 100).ToString())">
                    </div>
                </div>
                <div class="col-md-4 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Expiry Date:</span>
                        <input type="text" class="form-control" name="ExpiryDate" value="@card.expiry_date">
                    </div>
                </div>
                <div class="col-md-4 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Note:</span>
                        <input type="text" class="form-control" name="note">
                    </div>
                </div>
                <input type="hidden" name="cardId" value="@card.id" />
                <input type="hidden" name="custId" value="@cust.Id" />
                <input type="hidden" name="shop" value="@ViewBag.shop" />
                <div class="col-md-1 text-left">
                    <span class="input-group-btn">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </span>
                </div>
            </div>
        </form>
    }


    <br>
    <div class="row">
        @if (!ViewBag.posEmbedded)
        {
            <div class="col-md-2 text-left"><a href="../Home/DeleteCard?cardId=@card.id&custId=@cust.Id&shop=@ViewBag.shop" class="btn-danger">DELETE CARD</a></div>
        }
        <div class="col-md-2 text-left"><a href="../Home/ShowCust?custId=@cust.Id&shop=@ViewBag.shop" class="btn-primary">RETURN</a></div>
    </div>


</div>

