﻿
@{
    ViewBag.Title = "ShowCust";
}

@{
    ShopifySharp.Customer cust = ViewBag.Customer as ShopifySharp.Customer;

}

<div class="container-fluid">
    
        <div class="row">
            <div class="col-md-4 text-left"><strong>Customer:</strong> <span class="text-capitalize"> @cust.FirstName @cust.LastName </span></div>
            <div class="col-md-4 text-left"><strong>Account State:</strong> <span class="text-capitalize"> @cust.State </span></div>
        </div>

        <div class="row">
            <div class="col-md-4 text-left"><strong>Email:</strong> @cust.Email </div>
            <div class="col-md-4 text-left"><strong>Phone:</strong> No phone yet </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-left"><strong>Orders:</strong> @cust.OrdersCount </div>
            <div class="col-md-4 text-left"><strong>Total Spent:</strong> @cust.TotalSpent </div>
        </div>

        <br />

        <div class="row">  
            <div class="col-md-12 text-left">
                <form class="form-inline" action=" ../Home/UpdateCustLoyDol" , method="post">
                    <div class="form-group">
                        <strong>Loyalty Dollars - other vendors:</strong>
                        @Html.DropDownList("otherLoyDol", ViewData["LoyDolOptions"] as IEnumerable<SelectListItem>)
                    </div>

                    <input type="hidden" name="custId" value="@cust.Id" />
                    <input type="hidden" name="shop" value="@ViewBag.shop" />

                    <button type="submit" value="Update" class="btn btn-default btn-sm" />Submit</button>
                </form>
            </div>
        </div>


    <br>
    <div class="row">
        <div class="col-md-4 text-left"><a href="../Home/SendAccountActivation?custId=@cust.Id" class="btn-primary">Send Account Invite</a></div>
        <div class="col-md-4 text-left">@ViewBag.Mess</div>
    </div>

    <br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Value</th>
                <th>Date Created</th>
                <th>Expiry Date</th>
                <th>Last Used</th>
            </tr>
        </thead>
        <tbody>

            @foreach (EscapeDollarMgr.Models.EscCardObj card in ViewBag.EscCards)
            {
                <tr>
                    <td><a href="../Home/ShowCard?custId=@cust.Id&cardId=@card.id&shop=@ViewBag.shop" class="elements">@card.id</a> </td>
                    <td>@card.title  </td>
                    <td>@((Int32.Parse(card.value) / 100).ToString("F2")) </td>
                    <td>@card.created_at </td>
                    <td>@card.expiry_date </td>
                    @if (card.usage == null)
                    {
                        <td>Unused</td>
                    }
                    else
                    {
                        <td>
                            Used: @card.usage.Last().udate

                            Value: @((float.Parse(card.usage.Last().amount) / 100).ToString("F2"))
                        </td>

                    }

                </tr>
            }
            <tr>
                <td></td>
                <td>Total</td>
                <td>@ViewBag.escTotal</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Expired</td>
                <td>@ViewBag.escExpired</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><strong>Available</strong></td>
                <td><strong>@ViewBag.escAvail</strong></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>


        </tbody>
    </table>


    @if (!ViewBag.posEmbedded)
    {
        <br>
        <form action="../Home/AddEscCard" , method="post">
            <div class="row">
                <div class="col-md-2 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">ID:</span>
                        <input type="text" class="form-control" name="cardId">
                    </div>
                </div>
                <div class="col-md-4 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Title:</span>
                        <input type="text" class="form-control" name="title">
                    </div>
                </div>
                <div class="col-md-2 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Value:</span>
                        <input type="text" class="form-control" name="value">
                    </div>
                </div>
                <div class="col-md-3 text-left">
                    <div class="input-group">
                        <span class="input-group-addon">Expiry Date:</span>
                        <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" size="10" name="Date">
                    </div>
                </div>
                <input type="hidden" value="@cust.Id" name="custId" />
                <input type="hidden" name="shop" value="@ViewBag.shop" />
                <div class="col-md-1 text-left">
                    <span class="input-group-btn">
                        <input type="submit" value="Add" class="btn btn-info" />
                    </span>
                </div>

            </div>

        </form>
    }

    @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <span class="text-warning">@ViewBag.ErrorMessage</span>
    }


    <br>
    <div class="row">
        <div class="col-md-4 text-left"><a href="../Home/Index?shop=@ViewBag.shop" class="btn-primary">RETURN</a></div>
    </div>


</div>

