﻿
@{
    ViewBag.Title = "ViewDealer";
    EscapeDollarMgr.Models.DealerItem dealer = ViewBag.dealerItem as EscapeDollarMgr.Models.DealerItem;
    List<EscapeDollarMgr.Models.DealerOpeningTimes> openingTimes = dealer.OpeningTimes.ToList();
}

<h2>ViewDealer</h2>

<style>
    .input-group-addon {
        min-width: 130px;
        text-align: left;
    }
</style>

<div class="container">
    <form method='POST' , action="UpdDealer">
        <input type="hidden" name="actionType" value="update" />
        <input type="hidden" name="shop" value="@ViewBag.shop" />
        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Dealer</span>
                    <input type="text" class="form-control" name="dealer" value="@dealer.Dealer" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Contact</span>
                    <input type="text" class="form-control" name="contact" value="@dealer.Contact">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input type="text" class="form-control" name="phone" value="@dealer.Phone">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Address Line 1</span>
                    <input type="text" class="form-control" name="address1" value="@dealer.Address1" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Address Line 2</span>
                    <input type="text" class="form-control" name="address2" value="@dealer.Address2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">City</span>
                    <input type="text" class="form-control" name="city" value="@dealer.City" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">State</span>
                    <input type="text" class="form-control" name="state" value="@dealer.State" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Country</span>
                    <input type="text" class="form-control" name="country" value="@dealer.Country" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">Post Code</span>
                    <input type="text" class="form-control" name="postcode" value="@dealer.PostCode" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Dealer Type</span>
                    <input type="text" class="form-control" name="dealertype" value="@dealer.DealerType" required="required" pattern="[ABC]{1}" title="A, B or C">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon">Dealer Key</span>
                    <input type="text" class="form-control" name="key" value="@dealer.Key" readonly>
                </div>
            </div>
        </div>

        <br />


        <table class="table-bordered table-hover">
            <thead>
                <tr class="bg-info">
                    <th>Day</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Closed</th>
                </tr>
            </thead>


            <tr>
                <td>Monday</td>
                <td><div id="op0"></div></td>
                <td><div id="cl0"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled0" type="checkbox" value="@openingTimes[0].NotOpen"></td>
            </tr>

            <tr>
                <td>Tuesday</td>
                <td><div id="op1"></div></td>
                <td><div id="cl1"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled1" type="checkbox" value="@openingTimes[1].NotOpen"></td>
            </tr>

            <tr>
                <td>Wednesday</td>
                <td><div id="op2"></div></td>
                <td><div id="cl2"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled2" type="checkbox" value="@openingTimes[2].NotOpen"></td>
            </tr>

            <tr>
                <td>Thursday</td>
                <td><div id="op3"></div></td>
                <td><div id="cl3"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled3" type="checkbox" value="@openingTimes[3].NotOpen"></td>
            </tr>

            <tr>
                <td>Friday</td>
                <td><div id="op4"></div></td>
                <td><div id="cl4"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled4" type="checkbox" value="@openingTimes[4].NotOpen"></td>
            </tr>

            <tr>
                <td>Saturday</td>
                <td><div id="op5"></div></td>
                <td><div id="cl5"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled5" type="checkbox" checked="@openingTimes[5].NotOpen"></td>
            </tr>

            <tr>
                <td>Sunday</td>
                <td><div id="op6"></div></td>
                <td><div id="cl6"></div></td>
                <td style="text-align:center;"><input id="checkBox" name="disabled6" type="checkbox" checked="@openingTimes[6].NotOpen"></td>
            </tr>

        </table>

        <br />

        <div class="row">
            <div class="col-xs-8">
                <table class="table-bordered table-hover">
                    <thead>
                        <tr class="bg-info">
                            <th style="min-width: 100px;">Normal</th>
                            <th style="min-width: 100px;">Triathlon</th>
                            <th style="min-width: 100px;">HiRoad</th>
                            <th style="min-width: 100px;">HiMTB</th>
                        </tr>
                    </thead>

                    <tr>
                        <td style="text-align:center;"><input id="checkBox" name="normal" type="checkbox" checked="@dealer.Normal"></td>
                        <td style="text-align:center;"><input id="checkBox" name="triathlon" type="checkbox" checked="@dealer.Triathlon"></td>
                        <td style="text-align:center;"><input id="checkBox" name="hiroad" type="checkbox" checked="@dealer.HiRoad"></td>
                        <td style="text-align:center;"><input id="checkBox" name="himtb" type="checkbox" checked="@dealer.HiMTB"></td>
                    </tr>


                </table>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="submit" value="Update" class="btn btn-info" />

                </div>
            </div>
            <input name="Id" value="@ViewBag.Id" type="hidden">
        </div>

    </form>

    </br>

    <div class="row">
        <div class="col-xs-4">
            <div class="input-group">
                <span class="input-group-btn">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="location.href = '../Home/DeleteDealer?name=@dealer.Dealer&shop=@ViewBag.shop'" />
                </span>

                <span class="input-group-btn">
                    <input type="submit" value="Return" class="btn btn-info" onclick="location.href = '../Home/ManageDealers?shop=@ViewBag.shop'" />
                </span>
            </div>
        </div>
    </div>
</div>

<script>

    var tArray = [];
    for (i = 0; i < 12; i++) {
        if (i <= 9) {
            tArray.push("0" + i.toString() + ":00 AM", "0" + i.toString() + ":30 AM");
        } else {
            tArray.push(i.toString() + ":00 AM", i.toString() + ":30 AM");
        }
    }
    tArray.push("12:00 PM", "12:30 PM");
    for (i = 1; i < 12; i++) {
        if (i <= 9) {
            tArray.push("0" + i.toString() + ":00 PM", "0" + i.toString() + ":30 PM");
        } else {
            tArray.push(i.toString() + ":00 PM", i.toString() + ":30 PM");
        }
    }



    function createTimeSelect(name, idN) {

        var tName = name + idN.toString();

        var theDiv = document.getElementById(tName);

        var openName = (name.indexOf("op") >= 0);

        var selectList = document.createElement("select");

        theDiv.appendChild(selectList);

        if (name === "op") {
            selectList.setAttribute("name", "open" + idN.toString());
        } else {
            selectList.setAttribute("name", "close" + idN.toString());
        }

        //Create and append the options
        for (var i = 0; i < tArray.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", tArray[i]);
            if (openName & i === 17) option.selected = true;
            if (!openName & i == 38) option.selected = true;
            option.text = tArray[i];
            selectList.appendChild(option);
        }

    }

    //   createTimeSelect("Open0");
    //   createTimeSelect("Close0");

    for (i = 0; i < 7; i++) {
        createTimeSelect("op", i);
        createTimeSelect("cl", i);
    };

    zz = document.getElementsByName("open0");

    document.getElementsByName("open0")[0].value = "@openingTimes[0].Open";
    document.getElementsByName("close0")[0].value = "@openingTimes[0].Close";
    document.getElementsByName("open1")[0].value = "@openingTimes[1].Open";
    document.getElementsByName("close1")[0].value = "@openingTimes[1].Close";
    document.getElementsByName("open2")[0].value = "@openingTimes[2].Open";
    document.getElementsByName("close2")[0].value = "@openingTimes[2].Close";
    document.getElementsByName("open3")[0].value = "@openingTimes[3].Open";
    document.getElementsByName("close3")[0].value = "@openingTimes[3].Close";
    document.getElementsByName("open4")[0].value = "@openingTimes[4].Open";
    document.getElementsByName("close4")[0].value = "@openingTimes[4].Close";
    document.getElementsByName("open5")[0].value = "@openingTimes[5].Open";
    document.getElementsByName("close5")[0].value = "@openingTimes[5].Close";
    document.getElementsByName("open6")[0].value = "@openingTimes[6].Open";
    document.getElementsByName("close6")[0].value = "@openingTimes[6].Close";



            </script>
