﻿
@{
    ViewBag.Title = "ViewMoqRule";
    EscapeDollarMgr.Models.MoqRuleObj moqRule = ViewBag.MoqRule as EscapeDollarMgr.Models.MoqRuleObj;
}




<h4>View MOQ Rule</h4>



<div class="container">
    <form method='POST' , action="UpdMoqRule">
        <div class="row">


                <table >
                    <tr class="bg-info">
                        <th>Product Types</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                    </tr>
                    <tr>

                            <td style="width:30em" ><input class="form-control" type="text" size="60" name="productTypes" value="@moqRule.ProductTypes" style="min-width:30em;"></td>
                            <td><input class="form-control" type="text" size="4" name="dealerAMinMoq" value="@moqRule.A"></td>
                            <td><input class="form-control" type="text" size="4" name="dealerBMinMoq" value="@moqRule.B"></td>
                            <td><input class="form-control" type="text" size="4" name="dealerCMinMoq" value="@moqRule.C"></td>


                    </tr>
                </table>
          </div>


        <br />

        <div class="row">
            <div class="col-xs-2 text-left">
                <input type="submit" value="Update" class="btn btn-info" />
            </div>

            <div class="col-xs-2 text-left"><a href="../Home/DelMoqRule?Id=@moqRule.Id" class="btn-danger">DELETE</a></div>

            <div class="col-xs-2 text-left"><a href="../Home/DealerRules" class="btn-primary">RETURN</a></div>
        </div>
        <input name="Id" value="@moqRule.Id" type="hidden">
    </form>

</div>


