﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Escape Dollar Manager</title>
</head>
<body>
    <div>
    You have successfully installed Escape Dollar Manager!
    </div>
</body>
</html>
