﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="https://cdn.shopify.com/s/assets/external/pos_app.js"></script>
    <script>
    //    alert("here");
        var shop = '@ViewBag.shop';
        var token = '@ViewBag.shopToken';
        ShopifyPOS.init({
            apiKey: token,
            shopOrigin: "https://" + shop,
            debug: true,
            forceRedirect: true
        });
    </script>

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Escape Dollar Manager
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>